html, body{
    margin: 0;
    padding: 0;
    background-color: #171717;
}

@media (max-width: 1000px) {
    .content {
      width: 85% !important;
    }
  }


a{
    text-decoration: none;
    color: inherit;
}

.vid-src{
    margin: 0;
    margin-bottom: 20px;
    font-size: .8em;
}

.vid-src a{
    text-decoration: underline;
}

video{
    width: 100%;
}

.container{
    width: 100%;
}

.text-main{
    color: white;
}

.text-large{
    font-size: 2em;
}

.btn{
    padding: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    min-width: 200px;
}

.btn-dark{
    background-color: #20272D;
}

.header{
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 2px 2px rgba(255, 255, 255, .3);
    text-align: center;
    padding-bottom: 10px;
    
}

.nav {
    font-size: 1.4em;
    display: block;
    margin-bottom: 30px;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li{
    display: inline-block;
    border-bottom: solid 1px white;
    width: 240px;
    padding: 10px 0 10px 0;
    vertical-align: middle;
}

.nav a{
    color: aqua;
}

.nav li:hover{
    background-color: rgba(255, 255, 255, .3);
}

.brand-banner img,
.brand-banner h1{
    display: inline;
}

.brand-logo{
    color: aqua;
    margin: 0;
    font-size: 4em;
}

.brand-logo:hover{
    color: white;
}

.brand-logo-icon{
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

.topics-list{
    border-bottom: solid 3px black;
}

.topics-list p{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}


.topics-list ul{
    text-align: center;
    margin: 0 auto;
    list-style: none;
}

.topics-list li{
    margin: 0 50px;
    display: inline-block;
    text-align: center;
}
.topics-list img{
    max-width: 80px;
}

#logo-html{
    max-width: 115px;
}

.content{
    background-color: #2A3840;
    box-shadow: 2px 2px rgba(255, 255, 255, .3);
    color: rgba(200, 200, 200, .8);
    margin: 20px auto;
    padding: 20px 0;
    width: 65%;
    font-size: 1.5em;
}

.main-content{
    padding: 0 20px;    
    font-size: 1.5em;
}

.page-selector{
    display: flex;
    justify-content: space-between;
}

.page-selector a{
    color: #6A777C;
}

.page-selector a:hover{
    background-color: #70C989;    
    color: black;
}

.footer{
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, .3);
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}   

.footer ul{
    list-style: none;
    height: auto;
}

.brand-footer{
    flex: 1;
    font-size: 3.5em;
    text-align: start;
}

.social-media-list{
    flex: 2;
    vertical-align: middle;
    margin: 10px 0;
}

.social-media-list ul{
    text-align: end;
    margin: 10px auto;
    list-style: none;
}

.social-media-list li{
    margin: 0 20px;
    display: inline-block;
    text-align: center;
}
.social-media-list img{
    max-height: 40px;
}

.feedback form{
    text-align: center;
    width: 70%;
    margin: 50px auto;
}

.feedback input,
.feedback textarea {
    color: #fff;
}

.feedback input[type="submit"] {
    width: 100px;
    font-size: .5em;
    color: #6A777C;
    display: block;
    padding: 8px 0 10px 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,.5);
}

.feedback input[type="submit"]:hover {
    background-color: #70C989; 
    cursor: pointer;
}

.feedback input[type="text"] {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
  }

.feedback textarea {
    overflow: auto;
    resize: none;
    display: block;
    width: 100%;
    height: 150px;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
  }